<h3><%= article.title %></h3>
<strong><em><%= article.created_at.to_date %> <span class="divider">/</span> By <%= link_to "Yangzi Liu", about_path %> <span class="divider">/</span> Category: <%= link_to articles_path(:category => article.category) do %><%= article.category %><% end %></em></strong>
<div class="oor-horizontal-divider"></div>