<div class="well">
	<div class="row-fluid oor-about">
		<div class="span4 oor-about-profile">
	
		</div>
		<div class="span8 oor-about-text oor-justify-text-align">
Hi, I am Yangzi Liu, a software engineer living in Bay Area. I worked with <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>, <%= link_to "Java", "http://www.java.com" %>, <%= link_to "PHP", "http://us.php.net/" %>, <%= link_to "C#", "http://en.wikipedia.org/wiki/C_Sharp_(programming_language)"%>, <%= link_to "Objective-C", "http://developer.apple.com/library/mac/#documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html"%>, <%= link_to "Spring", "http://www.springsource.org/sts" %>, <%= link_to "Symfony", "http://symfony.com/" %>, <%= link_to "CodeIgniter", "http://ellislab.com/codeigniter" %>, <%= link_to "etc", "http://www.linkedin.com/profile/view?id=63507676" %>. In this blog, I am gonna focus on Rails, one of my favorite. Though many complain it's slow, I think scalability is not inherent in a framework. Will <%= link_to "Node.js", "http://nodejs.org"%> be more responsive than a Rails app integrated with <%= link_to "EventMachine", "https://github.com/eventmachine/eventmachine" %>? Will a PHP/Mysql site outrun a Rails one migrated to <%= link_to "Redis", "http://redis.io/" %>? I don't know. Somehow I know with Rails I can launch something within a week by myself. Beautiful? It will have a <%= link_to "Bootstrap", "http://twitter.github.io/bootstrap/" %>/<%= link_to "Jquery", "http://jquery.com/" %> look. Reliable? It will be guarded by <%= link_to "guard-rspec", "https://github.com/guard/guard-rspec "%>. Here I am gonna share my experience to demonstrate the grace and fast prototyping power of Rails. Welcome and enjoy!
		</div>
	</div>
</div>