<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">Articles</li>
		<% Constant.category.each do |c| %>
			<% if Article.find_all_by_category(c).count > 0 %>
				<li>
					<%= link_to articles_path(:category => c) do %>
						<%= c %> (<%= Article.find_all_by_category(c).count %>)
					<% end %>
				</li>
			<% end %>
		<% end %>
		<li>
			<%= link_to articles_path do %>
				All (<%= Article.all.count %>)
			<% end %>
		</li>
	</ul>
</div>